@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-poppins: 'Poppins', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}

body {
  font-family: var(--font-poppins);
}

h1,
h2,
h3 {
  font-family: var(--font-roboto);
}

.light-text {
  font-family: var(--font-poppins);
  font-weight: 200; 
}

.bold-text {
  font-family: var(--font-poppins);
  font-weight: 600;
}
