@import 'tailwindcss';

:root {
  --color-darkHover: #2a004a;
  --color-lightHover: #fcf4ff;
  --color-darkTheme: #11001f;

  --font-poppins: 'Poppins', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
  --font-Ovo: 'Ovo, serif';

  --grid-auto: repeat(auto-fit, minmax(250px, 1fr));
}

body {
  font-family: var(--font-poppins);
}

.font-ovo {
  font-family: var(--font-ovo);
}
.font-poppins {
  font-family: var(--font-poppins);
}

h1,
h2,
h3 {
  font-family: var(--font-roboto);
}

.light-text {
  font-family: var(--font-poppins);
  font-weight: 200;
}

.bold-text {
  font-family: var(--font-poppins);
  font-weight: 600;
}

@layer utilities {
  .grid-cols-auto {
    grid-template-columns: var(--grid-auto);
  }
}
@layer base {
  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
